.ModalThemHeader {
    background-color: #0d6efd;
}

.ModalSuaHeader {
    background-color: #0ec40e;
}

.nav-tabs .nav-link.active {
    border: none;
    position: relative;
    color: #435ebe;
}

.nav-tabs .nav-link.active:after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #435ebe;
    left: 0;
    box-shadow: 0 2px 5px rgb(67 94 190 / 50%);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}