.text-detail {
    text-decoration-line: underline;
    cursor: pointer;
}

.text-product-detail {
    font-size: 14px;
}

.text-count-product {
    font-size: 12px;
    font-style: italic;
}

.detail-history {
    border-radius: 3px;
}