* {
    padding: 0;
    margin: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-google {
    color: white !important;
    background-color: #ea4335;
}

.btn-facebook {
    color: white !important;
    background-color: #3b5998;
}

.forgotbutton {
    display: flex;
    float: left;
}