* {
    padding: 0;
    margin: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

.fa-icon {
    color: yellow;
}

.logo img {
    border-radius: 100%;
}

.header-menu {
    background-color: rgba(0, 0, 0, 80%);
}

.menu-item {
    display: inline-block;
    text-align: center;
    position: relative;
}

.menu-item span {
    text-decoration: none;
    position: relative;
    color: #999999;
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.7s all;
    padding: 5px 10px;
    text-transform: uppercase;
}

.menu-item span:before {
    content: '';
    width: 100%;
    position: absolute;
    border-bottom: 3px solid #efefef;
    bottom: 0;
    right: 100%;
    transition: 0.7s all;
}

.menu-item span:hover {
    color: white;
}

.menu-item span:hover:before {
    right: 0;
}

.fa-icon {
    margin-right: 8px;
}