.header-menu .fa-icon {
    color: yellow;
}

.header-menu {
    background-color: rgba(0, 0, 0, 80%);
    width: 100%;
}

.header-menu ul {
    list-style-type: none;
    text-align: center;
}

.header-menu li {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin-left: -5px;
    position: relative;
}

.header-menu li a {
    text-decoration: none;
    position: relative;
    color: #999999;
    font-size: 17px;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.7s all;
    padding: 13px 30px;
    text-transform: uppercase;
}

.header-menu li a:before {
    content: '';
    width: 100%;
    position: absolute;
    border-bottom: 3px solid #efefef;
    bottom: 0;
    right: 350px;
    transition: 0.7s all;
}

.header-menu li a:hover {
    color: white;
}

.header-menu li a:hover:before {
    right: 0;
}

.ChildMenu {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 80%);
    left: 0;
    right: 0;
    margin: auto;
    top: 100%;
    min-width: 180px;
}

.header-menu ul li:hover .ChildMenu {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 80%);
}

.header-menu ul li:hover .ChildMenu ul li {
    display: block;
    margin: 5px;
    margin-top: 10px;
    text-align: center;
}

.header-menu ul li .ChildMenu ul li a {
    font-size: 13px;
    line-height: normal;
    padding: 13px;
}

.logo {
    display: block;
    position: absolute;
    left: 15%;
    top: 50%;
    margin-left: 4%;
}

.logo img {
    border-radius: 100%;
}

.ulcss {
    margin-left: 9%;
}

.fa-icon {
    margin-right: 8px;
}