@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

.fa-trash {
    color: #d86e6e;
}

.fa-trash:hover {
    box-shadow: rgba(255, 0, 0, 0.25) 0px 54px 55px, rgba(255, 0, 0, 0.12) 0px -12px 30px, rgba(248, 0, 0, 0.12) 0px 4px 6px, rgba(224, 20, 20, 0.17) 0px 12px 13px, rgba(236, 7, 7, 0.09) 0px -3px 5px;
    color: #F44336;
}

.cartbody {
    font-family: 'Open Sans', serif;

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.40rem
    }

    .itemside .info {
        padding-left: 15px;
        padding-right: 7px
    }

    .table-shopping-cart .price-wrap {
        line-height: 1.2
    }

    .table-shopping-cart .price {
        font-weight: bold;
        margin-right: 5px;
        display: block
    }

    a {
        text-decoration: none !important
    }

    .card2 {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0px
    }

    .itemside {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%
    }


    [class*="dlist-"] {
        margin-bottom: 5px
    }

    .coupon {
        border-radius: 1px
    }

    .price {
        font-weight: 600;
        color: #212529
    }

    .btn.btn-out {
        outline: 1px solid #fff;
        outline-offset: -5px
    }

    .btn-main {
        text-transform: capitalize;
        width: 100%;
        font-weight: 500;
    }

    .btn-light {
        color: #ffffff;
        background-color: #F44336;
        border-color: #f8f9fa;
        font-size: 12px
    }

    .btn-light:hover {
        color: #ffffff;
        background-color: #F44336;
        border-color: #F44336
    }

    .btn-apply {
        font-size: 11px;
        height: 40px;
    }
}

.product-amount {
    height: 40px;
    border: 1px solid #999;
    width: 60px;
    position: relative;

    input {
        width: 60px !important;
        border: 0px;
        padding: 0px;
        height: 38px;
        text-align: center;
        font-size: 18px;
        background: #fff;
    }

    .amount-plus {
        background: rgb(190, 190, 190);
        font-family: Courier;
        height: 20px;
        width: 20px;
        display: block;
        position: absolute;
        top: -1px;
        right: -1px;
        text-align: center;
        line-height: 20px;
        font-size: 16px;
        font-weight: bold;
        border: 1px solid#707070;
    }

    .amount-minus {
        background: rgb(190, 190, 190);
        font-family: Courier;
        height: 20px;
        width: 20px;
        display: block;
        position: absolute;
        bottom: -1px;
        right: -1px;
        text-align: center;
        line-height: 20px;
        font-size: 16px;
        border: 1px solid#707070;
        font-weight: bold;
    }

    .amount-plus:hover {
        background: #5e5e5e;
        color: rgb(255, 255, 255);
    }

    .amount-minus:hover {
        background: #5e5e5e;
        color: rgb(255, 255, 255);
    }
}


.titleGiohang {
    justify-content: center;
    display: flex;
    color: cadetblue;
    font-size: 30px;
    margin-top: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cartText {
    color: cadetblue;
    font-weight: bold;
}

.iconHistory {
    justify-content: right;
    display: flex;
    font-size: 30px;
}

.switchPage {
    margin-top: 100px;
}