.product-action {
    position: absolute;
    background: rgba(17, 208, 233, 0.1);
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 0;
}

.text-filter {
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: rgb(24, 81, 131);

}