.form-check.form-check-secondary .form-check-input {
    background-color: #6c757d;
    border-color: #6c757d;
}

.form-check.form-check-primary .form-check-input {
    background-color: #435ebe;
    border-color: #435ebe;
}