.header-topbar {
    background-color: black;
}

.header-topbar-content pre {
    color: yellow;
    font-family: futura-pt, -apple-system, blinkmacsystemfont, roboto, Helvetica Neue, arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.shop-card {
    margin-top: 2px;
    position: relative;
}

.cart-count {
    position: absolute;
    top: -7px;
    right: -7px;
    background: yellow;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    color: #000;
    font-weight: bold;
    font-size: 10px;
}